.box-layout .page-wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}

.box-layout::before {
    position: fixed;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.4;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.box-layout {
    .header-1 .container-fluid {
        padding: 0 20px;
    }

    .header-1 {
        left: initial;
        right: initial;
        width: 100%;
        max-width: 1400px;
        margin-inline: auto;
    }

    .gt-purposes-section::before {
      z-index: initial;
    }

    .gt-purposes-wrapper .gt-purposes-content {
       position: relative;
       z-index: 99;
    }

    .gt-purposes-section .gt-bg-shape-2 {
        display: none;
    }

    .header-section-2 .container-fluid {
        padding: 0px 300px;
    }

    .header-section-2 .header-top-section-2 {
        background-color: transparent;
        overflow: hidden;
    }

    .header-section-2 .header-top-wrapper-2 .top-left li i {
        margin-right: 0;
        margin-left: 8px;
    }

    .sticky {
        left: initial;
        right: initial;
        width: 100%;
        max-width: 1400px;
        margin-inline: auto;
    }

    .header-section-2 {
        left: initial;
        right: initial;
        width: 100%;
        max-width: 1400px;
        margin-inline: auto;
    }

    /* .header-section-2 .container-fluid {
            padding: 0px 20px;
        }
    }

    .header-1 .container-fluid {
        padding: 0 20px !important;
    }

    .header-2 .container-fluid {
        padding: 0 20px !important;
    } */

    .gt-event-section-2 .gt-sub-title {
       right: 2% !important;
       font-size: 128px !important;
    }

    .gt-footer-section .gt-sub-title {
        left: -38% !important;
    }

    .gt-shop-section-2 .gt-sub-title {
        left: -57% !important;
    }

    .gt-pricing-section .gt-sub-title {
        left: -51% !important;
    }

    .gt-team-section-2 .gt-sub-title {
        right: -16% !important;
    }

    .gt-cta-offer-wrapper .gt-cta-image {
      left: 0;
    }

    .header-section-4 .header-top-section-2 {
        background-color: #1D1D1D;
    }

    .gt-hero-4 .gt-hero-content {
        margin-left: 0px;
        max-width: 580px;
    }

    .header-section-2.header-section-4 .header-4-items .main-logo .logo-bg {
        left: -90px;
    }

    .header-section-2.header-section-5 .header-top-section-2 {
        background-color: #1D1D1D;
    }

    .gt-hero-5 .bg-shape {
        width: 830px;
    }

    .gt-feature-section-5 .gt-bg-shape {
        width: 900px;
    }
        
}

.box-layout .container-fluid {
    padding: 0px 20px !important;
}